header {
/*	background:#2c3e50;
	color:#fff;
        padding: 10px;*/
}
nav{
/*    background:#2c3e50;
	color:#fff;
        padding: 10px;*/
}

.main {
	background:#f2f2f2;
}

.color1 {
	background: #34495e;
	color:#fff;
}

aside {
   background-color:#2C3E50;
	color:#fff;
}

footer {
	background:#2c3e50;
	color:#fff;
      
       
}

table, th, td {
 
    text-align: center;
}

tr{
      text-align: center; 
}
body { 
    padding-top: 70px; 
    background-color: #fff;
}


.pater div {
  display: inline-block;
  word-spacing: normal;
  font-size: 2rem;/*u otra unidad para IE8 y -*/
  letter-spacing: normal;
  white-space: normal;
  width: 25%;/*El valor necesario*/
}
.grow:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}